{% extends 'base.html' %}
{% load static %}
{% block title %}Home/Posts{% endblock %}
{% block style %}
        <link rel="stylesheet" type="text/css" href="{% static 'style/post.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'style/posts.css' %}">
{% endblock %}
{% block script %}
     <script src="{% static 'js/posts.js' %}"></script>
{% endblock %}
{% block content %}

    {% for post in posts %}
        <section class="post container-*">
      <!-- POST HEADER -->

      <div class="row">

        <a href="#">
          <div class="col-1 group-logo-container">
            <img src="{% static 'src/images/logo.jpg' %}" alt="group-logo" class="logo">
          </div>
        </a>

        <div class="col d-flex align-items-center justify-content-between">
          <a href="#" class="group-title">Reddit</a>
          <span class="text-muted post-date">{{ post.date_posted|date:"F d, Y" }}</span>
        </div>

      </div>

      <!-- POST BODY -->

      <div class="row mt-3">
        <div class="col">
          <img src="{{ post.image.url }}" alt="image" class="single-image">
        </div>
      </div>

      <!-- POST FOOTER -->

      <div class="row px-3 pt-3">

        <div class="like-wrapper">
          <img src="{% static 'src/icon/like.svg' %}" alt="like" class="like-icon">
          <span class="like-counter">15</span>
          <img src="{% static 'src/icon/like.svg' %}" alt="dislike" class="dislike-icon">
        </div>

        <div class="comment-wrapper">
          <img src="{% static 'src/icon/comment.svg' %}" alt="comment" class="comment">
          <span class="comment-counter">2</span>
        </div>
      </div>

    </section>
    {% endfor %}


{#    <!-- SECOND POST -->#}
{##}
{#    <section class="post container-*">#}
{##}
{#      <!-- POST HEADER -->#}
{##}
{#      <div class="row">#}
{##}
{#        <a href="../group/group.html">#}
{#          <div class="col-1 group-logo-container">#}
{#            <img src="../../../static/src/images/logo.jpg" alt="group-logo" class="logo">#}
{#          </div>#}
{#        </a>#}
{##}
{#        <div class="col d-flex align-items-center justify-content-between">#}
{#          <a href="../group/group.html" class="group-title">Reddit</a>#}
{#          <span class="text-muted post-date">26 сентября 23:44</span>#}
{#        </div>#}
{##}
{#      </div>#}
{##}
{#      <!-- POST BODY -->#}
{##}
{#      <div class="row mt-3">#}
{#        <div class="col">#}
{#          <img src="../../../static/src/images/vertical.jpg" alt="image" class="single-image">#}
{#        </div>#}
{#      </div>#}
{##}
{#      <!-- POST FOOTER -->#}
{##}
{#      <div class="row px-3 pt-3">#}
{##}
{#        <div class="like-wrapper">#}
{#          <img src="../../../static/src/icon/like.svg" alt="like" class="like-icon">#}
{#          <span class="like-counter">15</span>#}
{#          <img src="../../../static/src/icon/like.svg" alt="dislike" class="dislike-icon">#}
{#        </div>#}
{##}
{#        <div class="comment-wrapper">#}
{#          <img src="../../../static/src/icon/comment.svg" alt="comment" class="comment">#}
{#          <span class="comment-counter">2</span>#}
{#        </div>#}
{#      </div>#}
{##}
{#    </section>#}
{##}
{#    <!-- THIRD POST -->#}
{##}
{#    <section class="post container-*">#}
{##}
{#      <!-- POST HEADER -->#}
{##}
{#      <div class="row">#}
{##}
{#        <a href="../group/group.html">#}
{#          <div class="col-1 group-logo-container">#}
{#            <img src="../../../static/src/images/logo.jpg" alt="group-logo" class="logo">#}
{#          </div>#}
{#        </a>#}
{##}
{#        <div class="col d-flex align-items-center justify-content-between">#}
{#          <a href="../group/group.html" class="group-title">Reddit</a>#}
{#          <span class="text-muted post-date">26 сентября 23:44</span>#}
{#        </div>#}
{##}
{#      </div>#}
{##}
{#      <!-- POST BODY -->#}
{##}
{#      <div class="row mt-3">#}
{#        <div class="col">#}
{#          <p class="text-justify mb-0">#}
{#            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ac ex magna. Vestibulum efficitur leo nibh, ut#}
{#            imperdiet orci sollicitudin nec. Curabitur ut suscipit nulla. Pellentesque ut est faucibus urna lacinia#}
{#            elementum. Vestibulum id tincidunt leo. Vestibulum in efficitur arcu. Integer quis ornare quam. Nam#}
{#            scelerisque bibendum pellentesque. Cras eu diam eget ante gravida faucibus. Suspendisse ut nibh eu nunc#}
{#            rutrum#}
{#            aliquet. Vivamus vehicula est nulla, quis dapibus magna rutrum vitae. Cras ultrices, libero non porta#}
{#            scelerisque, risus quam mattis ipsum, nec pellentesque sapien tortor quis enim. Donec hendrerit risus nec#}
{#            sagittis faucibus. Curabitur sit amet elit augue. Donec vestibulum interdum volutpat.#}
{#          </p>#}
{#        </div>#}
{#      </div>#}
{##}
{#      <!-- POST FOOTER -->#}
{##}
{#      <div class="row px-3 pt-3">#}
{##}
{#        <div class="like-wrapper">#}
{#          <img src="../../../static/src/icon/like.svg" alt="like" class="like-icon">#}
{#          <span class="like-counter">15</span>#}
{#          <img src="../../../static/src/icon/like.svg" alt="dislike" class="dislike-icon">#}
{#        </div>#}
{##}
{#        <div class="comment-wrapper">#}
{#          <img src="../../../static/src/icon/comment.svg" alt="comment" class="comment">#}
{#          <span class="comment-counter">2</span>#}
{#        </div>#}
{#      </div>#}
{##}
{#    </section>#}
{% endblock %}
