{% extends 'base.html' %}
{% load static %}
{% block title %}Friends{% endblock %}
{% block style %}
    <!--suppress JSUnresolvedVariable, HtmlFormInputWithoutLabel, JSUnresolvedLibraryURL, HtmlUnknownTarget, SpellCheckingInspection -->
    <link rel="stylesheet" type="text/css" href="{% static 'style/listing.css' %}">
{% endblock %}

{% block content %}

    <div id="carouselExampleIndicators" class="carousel slide" data-interval="false" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">

                <div class="list-title">Your friends</div>

                <section class="row search-bar">

                    <div class="input-group">
                        <input id="search_friend" class="form-control mr-1 search-input" type="text"
                               placeholder="Search friends...">
                        <button class="btn btn-outline-secondary border" type="button">Seacrh</button>
                    </div>
                </section>


                <section id="friend-list-section">
                    {% for friend in friends %}
                        <a href="{% url 'profile_view_others' friend.user.id %}">
                            <section class="row list-element card">
                                <div class="list-element-image-wrapper">
                                    <img src="{{ friend.image.url }}" alt="person-avatar" class="list-element-image">
                                </div>

                                <div class="col-6">
                                    <div class="list-element-info">
                                        <div class="list-element-title">{{ friend.user.username }}</div>
                                        <div class="list-element-text mb-1">{{ friend.quote }}</div>
                                    </div>
                                </div>

                            </section>
                        </a>

                    {% endfor %}
                </section>

            </div>
            <div class="carousel-item">

                <div class="list-title">Все пользователи</div>

                <section class="row search-bar">

                    <div class="input-group">
                        <input id="search-all-users" class="form-control mr-1 search-input" type="text"
                               placeholder="Найти пользователей...">
                        <button class="btn btn-outline-secondary border" type="button">Искать</button>
                    </div>
                </section>


                <section id="all-users-list-section">
                    {% for friend in all_users %}
                        <a href="{% url 'profile_view_others' friend.user.id %}">
                            <section class="row list-element card">
                                <div class="list-element-image-wrapper">
                                    <img src="{{ friend.image.url }}" alt="person-avatar" class="list-element-image">
                                </div>

                                <div class="col-6">
                                    <div class="list-element-info">
                                        <div class="list-element-title">{{ friend.user.username }}</div>
                                        <div class="list-element-text mb-1">{{ friend.quote }}</div>
                                    </div>
                                </div>

                            </section>
                        </a>

                    {% endfor %}
                </section>

            </div>

        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/underscore@1.13.2/underscore-umd-min.js">
    </script>
    <script>

        {
            const user_data = '{{ query_set }}';
            const cleaned_user_data = JSON.parse(user_data.replace(/&quot;/g, '"'));

            const profile_data = '{{ profile_query_set }}';
            const cleaned_profile_data = JSON.parse(profile_data.replace(/&quot;/g, '"'));

            const friend_list = document.getElementById("friend-list-section");

            document.getElementById('search_friend').addEventListener('keyup', (e) => {
                friend_list.innerHTML = "";

                cleaned_user_data.filter(user => user.fields.username.toLowerCase().includes(e.target.value.toLowerCase())).forEach(user => {
                    const profileRef = cleaned_profile_data.filter(profile => profile.fields.user === user.pk)[0];

                    friend_list.innerHTML += '<a href=/profile/' + profileRef.fields.user + '>'
                        + '<section class="row list-element card">'
                        + '<div class="list-element-image-wrapper">'
                        + '<img src="/images/' + profileRef.fields.image + '" class="list-element-image" alt="person-avatar">'
                        + '</div>'
                        + '<div class="col-6">'
                        + '<div class="list-element-info">'
                        + '<div class="list-element-title">' + user.fields.username + '</div>'
                        + '<div class="list-element-text mb-1">' + profileRef.fields.quote + '</div>'
                        + '</div>'
                        + '</div>'
                        + '</section>'
                        + '</a>';
                });

            });
        }

        {
            const user_data = '{{ all_users_query_set }}';
            const cleaned_user_data = JSON.parse(user_data.replace(/&quot;/g, '"'));

            const profile_data = '{{ all_users_profile_query_set }}';
            const cleaned_profile_data = JSON.parse(profile_data.replace(/&quot;/g, '"'));

            const friend_list = document.getElementById("all-users-list-section");

            document.getElementById('search-all-users').addEventListener('keyup', (e) => {
                friend_list.innerHTML = "";

                cleaned_user_data.filter(user => user.fields.username.toLowerCase().includes(e.target.value.toLowerCase())).forEach(user => {
                    const profileRef = cleaned_profile_data.filter(profile => profile.fields.user === user.pk)[0];

                    friend_list.innerHTML += '<a href=/profile/' + profileRef.fields.user + '>'
                        + '<section class="row list-element card">'
                        + '<div class="list-element-image-wrapper">'
                        + '<img src="/images/' + profileRef.fields.image + '" class="list-element-image" alt="person-avatar">'
                        + '</div>'
                        + '<div class="col-6">'
                        + '<div class="list-element-info">'
                        + '<div class="list-element-title">' + user.fields.username + '</div>'
                        + '<div class="list-element-text mb-1">' + profileRef.fields.quote + '</div>'
                        + '</div>'
                        + '</div>'
                        + '</section>'
                        + '</a>';
                });

            });
        }


    </script>

{% endblock %}