{% extends 'base.html' %}
{% load static %}
{% block title %}Message list{% endblock %}
{% block style %}
        <link rel="stylesheet" type="text/css" href="{% static 'style/listing.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'style/messages-list.css' %}">
{% endblock %}
{% block script %}
     <script src="{% static 'js/posts.js' %}"></script>
    <script src="{% static 'js/messages.js' %}"></script>
{% endblock %}

{% block content %}
    <!-- SEARCH BAR -->

    <section class="row search-bar">

      <div class="input-group">
        <!--suppress HtmlFormInputWithoutLabel -->
        <input class="form-control mr-1 search-input" type="text" placeholder="Найти сообщение...">
        <button class="btn btn-outline-secondary border" type="button">Искать</button>
      </div>
    </section>


    <!-- 1 LIST ELEMENT-->

    <a href="../messages/messages.html">
      <section class="row list-element">

        <div class="list-element-image-wrapper">
          <img src="../../../static/src/images/person.png" alt="person-avatar" class="list-element-image">
        </div>

        <div class="col">
          <div class="list-element-info">
            <div class="list-element-title-with-time"><span>Ерасыл</span>
              <span class="text-muted font-weight-normal">12:21</span>
            </div>
            <div class="list-element-text mb-1">Здарова</div>
          </div>
        </div>

      </section>
    </a>

    <!-- 2 LIST ELEMENT-->

    <a href="../messages/messages.html">
      <section class="row list-element">

        <div class="list-element-image-wrapper">
          <img src="../../../static/src/images/person.png" alt="person-avatar" class="list-element-image">
        </div>

        <div class="col">
          <div class="list-element-info">
            <div class="list-element-title-with-time">
              <span>Ерасыл1</span>
              <span class="text-muted font-weight-normal">09:12</span>
            </div>
            <div class="list-element-text mb-1">
              Привет
            </div>
          </div>
        </div>

      </section>
    </a>

    <!-- 3 LIST ELEMENT-->

    <a href="../messages/messages.html">
      <section class="row list-element">
        <div class="list-element-image-wrapper">
          <img src="../../../static/src/images/person.png" alt="person-avatar" class="list-element-image">
        </div>

        <div class="col">
          <div class="list-element-info">
            <div class="list-element-title-with-time">
              <span>Ерасыл2</span>
              <span class="text-muted font-weight-normal">03:02</span>
            </div>
            <div class="list-element-text mb-1">
              <img src="../../../static/src/images/person.png" alt="person-avatar" class="inner-person-avatar">
              Ок)
            </div>
          </div>
        </div>

      </section>
    </a>

    <!-- 4 LIST ELEMENT-->

    <a href="../messages/messages.html">
      <section class="row list-element">

        <div class="list-element-image-wrapper">
          <img src="../../../static/src/images/person.png" alt="person-avatar" class="list-element-image">
        </div>

        <div class="col">
          <div class="list-element-info">
            <div class="list-element-title-with-time">
              <span>Оркен</span>
              <span class="text-muted font-weight-normal">24 сен</span>
            </div>
            <div class="list-element-text mb-1">Hi</div>
          </div>
        </div>

      </section>
    </a>

    <!-- 5 LIST ELEMENT-->

    <a href="../messages/messages.html">
      <section class="row list-element">

        <div class="list-element-image-wrapper">
          <img src="../../../static/src/images/person.png" alt="person-avatar" class="list-element-image">
        </div>

        <div class="col">
          <div class="list-element-info">
            <div class="list-element-title-with-time">
              <span>Оркен1</span>
              <span class="text-muted font-weight-normal">22 сен</span>
            </div>
            <div class="list-element-text mb-1">Пойдет</div>
          </div>
        </div>

      </section>
    </a>

    <!-- 6 LIST ELEMENT-->

    <a href="../messages/messages.html">
      <section class="row list-element">
        <div class="list-element-image-wrapper">
          <img src="../../../static/src/images/person.png" alt="person-avatar" class="list-element-image">
        </div>

        <div class="col">
          <div class="list-element-info">
            <div class="list-element-title-with-time">
              <span>Оркен2</span>
              <span class="text-muted font-weight-normal">20 сен</span>
            </div>
            <div class="list-element-text mb-1">
              <img src="../../../static/src/images/person.png" alt="person-avatar" class="inner-person-avatar">
              Сам как?
            </div>
          </div>
        </div>

      </section>
    </a>
{% endblock %}