{% extends 'base.html' %}
{% load static %}
{% block title %}Группы{% endblock %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'style/listing.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style/groups-list.css' %}">
{% endblock %}
{% block script %}
    <script src="{% static 'js/groups-list.js' %}"></script>
{% endblock %}
{% block content %}
    <!-- SEARCH-BAR -->

    <section class="row search-bar">

        <div class="input-group">
            <!--suppress HtmlFormInputWithoutLabel -->
            <input class="form-control mr-1 search-input" type="text" placeholder="Найти группу...">
            <button class="btn btn-outline-secondary border" type="button">Искать</button>
        </div>
    </section>

    {% for group in groups %}
        <a href="{% url 'group' group.id%}">
            <section class="row list-element">
                <div class="list-element-image-wrapper">
                    <img src="{{ group.image.url }}" alt="group-logo" class="list-element-image">
                </div>

                <div class="col-6">
                    <div class="list-element-info">
                        <div class="list-element-title">{{ group.name }}</div>
                        <div class="list-element-text mb-1">{{ group.followers.count }} подписчиков</div>
                    </div>
                </div>

            </section>
        </a>
    {% endfor %}



{% endblock %}