
button:hover,
button:focus,
button:active {
    cursor: pointer;
    background-color: #ecf0f1;
}

.comment-thread {
    width: 700px;
    max-width: 100%;
    margin: auto;
    padding: 0 30px;
    background-color: #fff;
    border: 1px solid transparent; /* Removes margin collapse */
}

.m-0 {
    margin: 0;
}

.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

/* Comment */

.comment {
    position: relative;
    margin: 20px auto;
}

.comment-heading {
    display: flex;
    align-items: center;
    height: 50px;
    font-size: 14px;
}

.comment-info {
    display: flex;
    color: rgba(0, 0, 0, 0.5);
    margin-left: 10px;
}

.comment-author {
    color: #2a5885 !important;
    font-weight: bold;
    text-decoration: none;
    margin-right: 10px;
    font-size: 20px;
}

.comment-author:hover {
    text-decoration: underline;
}

.replies {
    margin-left: 20px;
}

.reply-button {
    background-color: deepskyblue;
    color: white;
    border: none;
    padding: 3px 10px;
    border-radius: 5px;
    margin-top: 1rem;

    transition: background-color 350ms;
}

.reply-button:hover {
    background-color: blue;
}

.reply-button:focus {
    outline: none;
}

/* Adjustments for the comment border links */

.comment-border-link {
    display: block;
    position: absolute;
    top: 50px;
    left: 0;
    width: 12px;
    height: calc(100% - 50px);
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    background-color: rgba(0, 0, 0, 0.1);
    background-clip: padding-box;
}

.comment-border-link:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.comment-body {
    padding: 0 20px 0 28px;
    font-size: 18px;
}

.replies {
    margin-left: 28px;
}

.col-xs-6 {
    border-left: 1px solid #e6e6e6;
    transition: border-left-color 350ms;
}

.col-xs-6:hover {
    border-left-color: #4683d9;;
}