::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.shadow {
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.05);
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.row {
    margin: 0;
}

/* BODY SECTION */

body {
    margin: 0;
    padding: 0;

    height: 100vh;
    width: 100vw;

    background-color: rgb(237, 238, 240);
}

/* HEADER SECTION */

header {
    width: 100%;
    padding: 1rem 10%;
    background-color: #FFFFFF;

    display: flex;
    align-items: center;
    justify-content: space-between;

    position: fixed;
    z-index: 10;
}

.person-info-wrapper {
    cursor: pointer;
}

.logo, .person {
    width: 40px;
    height: 40px;
}

.name {
    margin: 0 0.5rem;
}

#down-icon {
    width: 16px;
    height: 16px;

    transition: transform 350ms;
}

.rotated {
    transform: rotate(180deg);
}

/* MAIN SECTION */

main {
    width: inherit;
    height: inherit;

    padding: 75px 10% 0;
    display: flex;
    overflow-y: scroll;
    overflow: -moz-scrollbars-vertical;
}

/* NAV SECTION */

nav {
    width: 15%;
    margin-top: 2rem;
}

.nav {
    flex-direction: column;
}

.nav-link {
    padding: 0.7rem 0 0.7rem 0.3rem;
    border-radius: 10px;
    cursor: pointer;
    color: #212529;

    transition: background-color 350ms;
}

.nav-link:hover {
    background-color: rgb(227, 228, 230);
}

.main-body {
    width: 85%;
    padding-top: 2rem;
}

/* POPOVER SECTION */

.dropdown-menu {
    border-radius: 10px;
}

.dropdown-item {
    transition: background-color 350ms;

    padding: 0.5rem;
    cursor: pointer;
    height: 3em;
}

.dropdown-item:hover {
    background-color: #e6e6e6;
}

@media (max-width: 700px) {
    header {
        padding: 1rem 0.5rem;
    }

    main {
        padding: 75px 0.5rem 0;
    }

    .main-body {
        width: 85%;
    }

    nav {
        font-size: 13px;
    }
}

@media (max-width: 600px) {
    header {
        padding: 1rem 0.5rem !important;
    }

    main {
        padding: 75px 0.5rem 0 !important;
        display: flex !important;
        flex-direction: column !important;
    }

    .main-body {
        width: 100% !important;
    }

    nav {
        width: 100% !important;
        font-size: 16px !important;
    }

    .nav {
        flex-direction: row !important;
        justify-content: space-around !important;
    }

    .btn {
        font-size: 12px !important;
    }

    .group-title {
        font-size: 14px !important;
        overflow: hidden !important;
        max-width: 150px !important;
        white-space: nowrap !important;
        text-overflow: ellipsis !important;
    }

    .text-muted {
        font-size: 12px !important;
    }

    .header-info {
        align-items: unset !important;
        flex-direction: column;
    }

    .post-text {
        font-size: 14px !important;
    }

    .post-date {
        font-size: 12px !important;
    }

    .comment-author {
        font-size: 14px !important;
    }

    .comment-days-ago {
        font-size: 12px !important;
    }

    .comment-body {
        font-size: 14px !important;
    }

    .reply-button {
        font-size: 12px !important;
    }

    #div_id_body {
        font-size: 14px !important;
    }

    .like-wrapper .btn {
        padding: 0 !important;
    }

    .post-header {
        display: flex;
        flex-direction: column;
    }

    .svg-icon {
        width: 20px !important;
        height: 20px !important;

        display: flex;
        margin-left: 5px;
    }

    .profile-items-container {
        display: flex;
        flex-direction: column !important;
    }

    .person-avatar {
        width: 100% !important;
        height: 200px !important;
    }

}
