::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.shadow {
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.05);
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.row {
  margin: 0;
}

/* BODY SECTION */

body {
  margin: 0;
  padding: 0;

  height: 100vh;
  width: 100vw;

  background-color: rgb(237, 238, 240);
}

/* HEADER SECTION */

header {
  width: 100%;
  padding: 1rem 10%;
  background-color: #FFFFFF;

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  z-index: 10;
}

.person-info-wrapper {
  cursor: pointer;
}

.logo, .person {
  width: 40px;
  height: 40px;
}

.name {
  margin: 0 0.5rem;
}

#down-icon {
  width: 16px;
  height: 16px;

  transition: transform 350ms;
}

.rotated {
  transform: rotate(180deg);
}

/* MAIN SECTION */

main {
  width: inherit;
  height: inherit;

  padding: 75px 10% 0;
  display: flex;
  overflow-y: scroll;
  overflow: -moz-scrollbars-vertical;
}

/* NAV SECTION */

nav {
  width: 15%;
  margin-top: 2rem;
}

.nav-link {
  padding: 0.7rem 0 0.7rem 0.3rem;
  border-radius: 10px;
  cursor: pointer;
  color: #212529;

  transition: background-color 350ms;
}

.nav-link:hover {
  background-color: rgb(227, 228, 230);
}

.main-body {
  width: 85%;
  padding: 2rem;
}

/* POPOVER SECTION */

.popover-wrapper {
  position: absolute;
  margin-top: 1.5rem;
  display: inline-block;
  width: 250px;
  right: 5%;
  top: 4rem;
}

.popover-content {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  transform: translate(0, 10px);
  background-color: #e6e6e6;
  padding: 1rem 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  width: inherit;
  border-radius: 10px;
}

.popover-content:before {
  position: absolute;
  z-index: -1;
  content: "";
  right: calc(50% - 10px);
  top: -8px;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #e6e6e6 transparent;
  transition-duration: 0.3s;
  transition-property: transform;
}

.popover-opened {
  z-index: 15;
  opacity: 1;
  visibility: visible;
  transform: translate(0, -20px);
  transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
}

.popover-menu-ul a {
  height: 3rem;
  transition: background-color 0.3s;
  padding: 0.5rem;
  cursor: pointer;

  display: flex;
  flex-direction: column;
}

.popover-menu-ul a:hover {
  background-color: #d6d6d6;
}

@media (max-width: 700px) {
  header {
    padding: 1rem 0.5rem;
  }

  main {
    padding: 75px 0.5rem 0;
  }

  .main-body {
    width: 85%;
  }

  nav {
    font-size: 13px;
  }
}

@media (max-width: 400px) {
  header {
    padding: 1rem 0.5rem;
  }

  main {
    padding: 75px 0.5rem 0;
  }

  .main-body {
    width: 85%;
  }

  nav {
    font-size: 8px;
  }
}
