p {
    margin: 0;
}

.no-post {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    background: white;
    border-radius: 5px;
    color: #151515;
}

.post {
    background-color: #FFFFFF;
    border-radius: 10px;
    margin-top: 2rem;
}

.header-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post-text {
    text-align: justify;
    font-size: 18px;
}

.post:first-child {
    margin-top: 0;
}

.group-title {
    font-size: 18px;
    font-weight: 600;
}

.single-image {
    width: 100%;
    border-radius: 10px;
}

.like-counter {
    margin: 0 0.5rem;
}

.dislike-icon {
    transform: rotate(180deg) !important;
}

.like-wrapper, .comment-wrapper {
    display: flex;
    align-items: center;
    padding: 0.5rem;

    background-color: #f2f2f2;
    border-radius: 15px;
}

.like-wrapper {
    margin-right: 1rem;
}

.like-icon, .dislike-icon, .svg-icon {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.like-icon:hover {
    animation-duration: 0.4s;
    animation: bouncing 0.4s alternate infinite cubic-bezier(.6, .05, .15, .95);
}

.comment-wrapper {
    cursor: pointer;
}

.comment {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-right: 0.5rem;

    position: relative;
    top: 2px;
}

.group-logo {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.group-name {
    font-size: 24px;
    font-weight: 600;
}

.group-logo-container {
    min-width: 50px;
}

.form-group {
    padding: 0 1rem;
}

.form-control {
    min-height: 90px;
}

.comment-days-ago {
    display: flex;
    align-items: center;
}

@keyframes bouncing {

    0% {
        transform: translate3d(0, 10px, 0) scale(1.2, 0.85);
    }

    100% {
        transform: translate3d(0, -20px, 0) scale(0.9, 1.1);
    }
}
