.person-info-container .row {
  background-color: #FFFFFF;
  padding: 1rem;
  border-radius: 10px;
}

.person-avatar {
  width: 200px;
  height: 200px;
}

.person-info-container .btn {
  margin-top: 3rem;
  width: 100%;
}

.person-name {
  font-weight: 600;
  font-size: 24px;
}

.person-info-container .ui-link-wrapper {
  cursor: pointer;
  padding: 1rem;
  border-radius: 5px;

  transition: background-color 0.35s;
}

.person-info-container .ui-link-wrapper:hover {
  background-color: rgb(227, 228, 230);
}

.person-info-container .ui-link {
  color: #2a5885;
}

.profile-editor-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-wrapper {
  width: 100%;
}

.birth-date-wrapper {
  padding: 16px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 700px) {
  .person-avatar {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 400px) {
  .person-avatar {
    width: 50px;
    height: 50px;
  }
}
