{% extends 'base.html' %}
{% load static %}
{% block title %}message{% endblock %}
{% block style %}
        <link rel="stylesheet" type="text/css" href="{% static 'style/messages.css' %}">
{% endblock %}
{% block script %}
     <script src="{% static 'js/posts.js' %}"></script>
     <script src="{% static 'js/messages.js' %}"></script>
{% endblock %}
{% block content %}
     <div class="col chat p-0" style="overflow: hidden; outline: none;">
      <div class="col-inside-lg bg-white">
        <div class="chat-body">


          <h5>Ерасыл</h5>
          <div class="message left">
            <div class="avatar">
              <img src="../../../static/src/images/person.png" alt="User name">
              <div class="status offline"></div>
            </div>
            <div class="name">Ерасыл</div>
            <div class="text">
              Lorem ipsum dolor amet, consectetur adipisicing elit Lorem ipsum dolor amet, consectetur adipisicing elit
              Lorem ipsum dolor amet, consectetur adiping elit
            </div>
            <div class="send_date">5 мин назад</div>
          </div>
          <div class="message right">
            <div class="avatar">
              <img src="../../../static/src/images/person.png" alt="User name">
              <div class="status offline"></div>
            </div>
            <div class="name">Оркен</div>
            <div class="text">
              Lorem ipsum dolor amet, consectetur adipisicing elit Lorem ipsum dolor amet, consectetur adipisicing elit
              Lorem ipsum dolor amet, consectetur adiping elit
            </div>
            <div class="send_date">5 мин назад</div>
          </div>
          <div class="message left">
            <div class="avatar">
              <img src="../../../static/src/images/person.png" alt="User name">
              <div class="status online"></div>
            </div>
            <div class="name">Ерасыл</div>
            <div class="text">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio qui quia delectus odit magni beatae
              soluta harum ullam nisi explicabo non tempore voluptas dolore, aliquam dolor eius tempora cum molestiae?
              Autem nihil, nemo architecto quis sed molestiae veniam itaque voluptates esse ex, vero id expedita
              molestias possimus quae aut illum iste, exercitationem veritatis reprehenderit magni asperiores. Quia
              aliquam blanditiis rerum.
            </div>
            <div class="send_date">5 мин назад</div>
          </div>
          <div class="message right">
            <div class="avatar">
              <img src="../../../static/src/images/person.png" alt="User name">
              <div class="status busy"></div>
            </div>
            <div class="name">Оркен</div>
            <div class="text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta nisi, totam eum quia maxime placeat
              laudantium praesentium fugiat ratione dolorum, pariatur repudiandae nulla non distinctio, a cupiditate.
              Quam, facere itaque.
            </div>
            <div class="send_date">5 мин назад</div>
          </div>
          <div class="message right">
            <div class="avatar">
              <img src="../../../static/src/images/person.png" alt="User name">
              <div class="status off"></div>
            </div>
            <div class="name">Оркен</div>
            <div class="text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat maiores mollitia quia assumenda illum
              facere, dignissimos modi, impedit ullam asperiores odio nam ut dolorum error nostrum earum minus, eligendi
              placeat.
            </div>
            <div class="send_date">5 мин назад</div>
          </div>
          <div class="message left">
            <div class="avatar">
              <img src="../../../static/src/images/person.png" alt="User name">
              <div class="status offline"></div>
            </div>
            <div class="name">Ерасыл</div>
            <div class="text">
              Lorem ipsum dolor amet, consectetur adipisicing elit Lorem ipsum dolor amet, consectetur adipisicing elit
              Lorem ipsum dolor amet, consectetur adiping elit
            </div>
            <div class="send_date">5 мин назад</div>
          </div>
          <div class="message right">
            <div class="avatar">
              <img src="../../../static/src/images/person.png" alt="User name">
              <div class="status offline"></div>
            </div>
            <div class="name">Оркен</div>
            <div class="text">
              Lorem ipsum dolor amet, consectetur adipisicing elit Lorem ipsum dolor amet, consectetur adipisicing elit
              Lorem ipsum dolor amet, consectetur adiping elit
            </div>
            <div class="send_date">5 мин назад</div>
          </div>
          <div class="message left">
            <div class="avatar">
              <img src="../../../static/src/images/person.png" alt="User name">
              <div class="status online"></div>
            </div>
            <div class="name">Ерасыл</div>
            <div class="text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam quaerat impedit aspernatur rerum ad
              repellendus? Atque ipsa, explicabo perferendis culpa velit consequatur? Explicabo maiores autem rerum
              omnis architecto ratione nemo!
            </div>
            <div class="send_date">5 мин назад</div>
          </div>
          <div class="message right">
            <div class="avatar">
              <img src="../../../static/src/images/person.png" alt="User name">
              <div class="status busy"></div>
            </div>
            <div class="name">Оркен</div>
            <div class="text">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto quisquam beatae similique error ipsam
              eligendi est, ab, a modi non corrupti nesciunt. Harum corrupti consequuntur architecto, aliquid iure
              similique dolorum?
            </div>
            <div class="send_date">5 мин назад</div>
          </div>
          <div class="message right">
            <div class="avatar">
              <img src="../../../static/src/images/person.png" alt="User name">
              <div class="status off"></div>
            </div>
            <div class="name">Оркен</div>
            <div class="text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati quos explicabo repellat eligendi
              aliquam nulla ex repudiandae quibusdam voluptatem maiores est sapiente asperiores temporibus et rem nam,
              voluptatum, quia ipsam!
            </div>
            <div class="send_date">5 мин назад</div>
          </div>

        </div>
      </div>

      <form autocomplete="off">
        <div class="panel-footer">
          <div class="input-group">
            <input id="btn-input" type="text" class="form-control input-sm" placeholder="Введите сообщение..."/>
            <span class="input-group-btn ml-2">
            <button class="btn btn-primary " id="btn-chat">
              Отправить
            </button>
          </span>
          </div>
        </div>
      </form>

    </div>
{% endblock %}