{% extends 'base.html' %}
{% load static %}
{% block title %}Профиль{% endblock %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'style/post.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'style/profile.css' %}">
{% endblock %}
{% block script %}
<script src="{% static 'js/profile.js' %}"></script>
{% endblock %}
{% block content %}
<section class="container-* person-info-container">
  <div class="row">

    <div class="col d-flex flex-column justify-content-between">

      <div class="person-name px-3">
        {{ user.name }}
      </div>

      <div class="p-3">
        Цитата:
        <span class="font-weight-bold">
          {{ profile.quote }}
        </span>
      </div>

      <div class="p-3">
        День рождения:
        <span class="font-weight-bold">
          {{ profile.birth_date|date:"F d Y" }}
        </span>
      </div>

      <div class="ui-link-wrapper">
        Группы:
        <span class="ui-link font-weight-bold">
          0
        </span>
      </div>

      <div class="ui-link-wrapper">
        Друзья:
        <span class="ui-link font-weight-bold">
          0
        </span>
      </div>

    </div>

    <div class="col d-flex flex-column justify-content-between align-items-center">
      <img src="{{ profile.image.url }}" class="person-avatar">

      <button class="btn btn-outline-secondary border" type="button">Изменить аватар</button>
    </div>

  </div>
</section>


{% for post in posts %}
<section class="post container-*">
  <!-- POST HEADER -->

  <div class="row">

    <a href="#">
      <div class="col-1 group-logo-container">
        <img src="{% static 'src/images/logo.jpg' %}" alt="group-logo" class="logo">
      </div>
    </a>

    <div class="col d-flex align-items-center justify-content-between">
      <a href="#" class="group-title">Reddit</a>
      <span class="text-muted post-date">{{ post.date_posted|date:"G:i, F d" }}</span>
    </div>

  </div>

  <!-- POST BODY -->

  {% if post.body %}
  <div class="row mt-3">
    <div class="col">
      <p>{{ post.body }}</p>
    </div>
  </div>
  {% endif %}

  {% if post.image %}
  <div class="row mt-3">
    <div class="col">
      <img src="{{ post.image.url }}" alt="image" class="single-image">
    </div>
  </div>
  {% endif %}
  <!-- POST FOOTER -->

  
  <div class="row px-3 pt-3">


      <div class="like-wrapper">
        <form method="post" action="like" class="like_form" id="{{ post.id }}">
             {% csrf_token %}
            <input type="hidden" name="post_id" value="{{ post.id }}">
          <input type="hidden" name="type" value="like">
          <button class="btn btn-default" type="submit"><img src="{% static 'src/icon/like.svg' %}" alt="like" class="like-icon"></button>
        </form>
        <span class="like-counter" id="like-counter{{ post.id }}">{{ post.get_likes }}</span>
        <form method="post" action="like" class="like_form" id="{{ post.id }}">
             {% csrf_token %}
            <input type="hidden" name="post_id" value="{{ post.id }}">
          <input type="hidden" name="type" value="dislike">
          <button class="btn btn-default" type="submit"><img src="{% static 'src/icon/like.svg' %}" alt="dislike" class="dislike-icon"></button>
        </form>
      </div>







    <div class="comment-wrapper">
      <img src="{% static 'src/icon/comment.svg' %}" alt="comment" class="comment">
      <span class="comment-counter">2</span>
    </div>
  </div>

</section>
{% endfor %}

<script>
        $( document ).ready(function() {
            let display = false

            $('.like_form').submit(function(e){
                e.preventDefault()
                const post_id = $(this).attr('id')
                const type = $("input[name='type']",this).val();
                const url = $(this).attr('action')
                const likes = parseInt($(`#like-counter${post_id}`).text())
                const user_id = {{ user.id }}
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: {
                        'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                        'post_id':post_id,
                        'type': type
                    },
                    success: function(response) {
                        if(type === 'dislike' && response.is_liked === false ) {
                            res = parseInt(response.likes )
                        } else if(type === 'like' && response.is_liked === false ){
                            res = parseInt(response.likes )
                        }

                        $(`#like-counter${post_id}`).text(res)
                    },
                    error: function(response) {
                        console.log('error', response)
                    }
                })
            })

        });
</script>
{% endblock %}