{% extends 'base.html' %}
{% load tags %}
{% load static %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block title %}Профиль{% endblock %}
{% block style %}
    <!--suppress HtmlUnknownTarget, HtmlUnknownAttribute -->
    <link rel="stylesheet" type="text/css" href="{% static 'style/post.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style/profile.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style/posts.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style/comments.css' %}">
{% endblock %}
{% block script %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/profile.js' %}"></script>
    <script src="{% static 'js/posts.js' %}"></script>
{% endblock %}


{% block content %}
    <section class="container-* person-info-container">
        <div class="row">

            <div class="col d-flex flex-column justify-content-between">

                <div class="p-3">
                    Имя пользователя:
                    <span class="font-weight-bold">
          {{ this_user.username }}
        </span>
                </div>

                <div class="p-3">
                    Цитата:
                    <span class="font-weight-bold">
          {{ profile.quote }}
        </span>
                </div>

                <div class="p-3">
                    День рождения:
                    <span class="font-weight-bold">
          {{ profile.birth_date|date:"F d Y" }}
        </span>
                </div>

                <div class="ui-link-wrapper">
                    Группы:
                    <span class="ui-link font-weight-bold">
          0
        </span>
                </div>

                <div class="ui-link-wrapper">
                    Друзья:
                    <span class="ui-link font-weight-bold">
          {{ friends.count }}
        </span>
                </div>

                {% if is_me %}
                    <a class="btn btn-primary" href="{% url 'edit_profile' my_profile.id %}">Редактировать</a>
                {% elif is_friend %}
                    <form method="post" action="delete_friend" class="delete_friend" id="{{ this_user.id }}">
                        {% csrf_token %}
                        <input type="hidden" name="user_id" value="{{ this_user.id }}">
                        <input type="hidden" name="request_id" value="{{ friend_request }}">
                        <button id="delete_friend_button" class="btn btn-primary" type="submit">Удалить из друзей
                        </button>
                    </form>
                {% else %}
                    {% if friend_request_enum == "from" %}
                        {#                Это срабатвывает когда ты принимаешь запрос#}

                        <form method="post" action="accept_friend_request" class="accept_request"
                              id="{{ this_user.id }}">
                            {% csrf_token %}
                            <input type="hidden" name="user_id" value="{{ this_user.id }}">
                            <input type="hidden" name="request_id" value="{{ friend_request }}">
                            <button id="accept_friend_button" class="btn btn-primary" type="submit">Принять</button>
                        </form>
                    {% elif friend_request_enum == "to" %}
                        {#                Это срабатвывает когда ты отменяешь запрос#}

                        <form method="post" action="cancel_friend_request" class="cancel_request"
                              id="{{ this_user.id }}">
                            {% csrf_token %}
                            <input type="hidden" name="user_id" value="{{ this_user.id }}">
                            <button id="cancel_request_button" class="btn btn-danger" type="submit">Отменить</button>
                        </form>


                        <form method="post" action="send_friend_request" class="send_request" id="{{ this_user.id }}"
                              style="display: none">
                            {% csrf_token %}
                            <input type="hidden" name="user_id" value="{{ this_user.id }}">
                            <button id="send_request_button" class="btn btn-primary" type="submit">Отправить предложение
                                дружбы
                            </button>
                        </form>

                    {% else %}
                        {#                Это срабатвывает когда ты отправляешь кому-то запрос#}
                        <form method="post" action="send_friend_request" class="send_request" id="{{ this_user.id }}">
                            {% csrf_token %}
                            <input type="hidden" name="user_id" value="{{ this_user.id }}">
                            <button id="send_request_button" class="btn btn-primary" type="submit">Отправить предложение
                                дружбы
                            </button>
                        </form>


                        <form method="post" action="cancel_friend_request" class="cancel_request"
                              id="{{ this_user.id }}" style="display: none">
                            {% csrf_token %}
                            <input type="hidden" name="user_id" value="{{ this_user.id }}">
                            <button id="cancel_request_button" class="btn btn-danger" type="submit">Отменить</button>
                        </form>
                    {% endif %}
                {% endif %}


            </div>

            <div class="col d-flex flex-column justify-content-between align-items-center">
                <img src="{{ profile.image.url }}" class="person-avatar" alt="">

                {% if is_me %}
                    <button class="btn btn-outline-secondary border" type="button">Изменить аватар</button>
                {% endif %}

            </div>

        </div>
    </section>


    {% if posts == 'null' %}
        <div class="no-post"> Нет постов</div>
    {% else %}
        {% for post in posts %}
            <section class="post container-* card">
                <!-- POST HEADER -->

                <div class="row card-header">

                    <a href="{{ post|get_post_author_url }}">
                        <div class=" group-logo-container">
                            <img src="{{ post|get_image_post }}" alt="group-logo" class="logo">
                        </div>
                    </a>


                    <div class="col header-info">
                        <a href="{{ post|get_post_author_url }}" class="group-title">{{ post|get_post_author }}</a>
                        <span class="text-muted post-date">{{ post.date_posted|date:"G:i, F d" }}</span>
                    </div>

                    {% if post.author.id == user.id or post.group_author.admin.id == user.id %}
                        <a href="/post/edit/{{ post.id }}" class="btn"><img src="{% static 'src/icon/edit_icon.png' %}"
                                                                            alt="like"
                                                                            class="like-icon"></a>


                        <form method="POST" action="/post/delete/{{ post.id }}">
                            {% csrf_token %}
                            <label for="delete"><img src="{% static 'src/icon/delete_icon.png' %}" alt="like"
                                                     class="like-icon"></label>
                            <input class="btn" type="submit" value="" id="delete">
                        </form>
                    {% endif %}
                </div>

                <!-- POST BODY -->

                {% if post.body %}
                    <div class="row card-body">
                        <div class="post-text">
                            <p>{{ post.body }}</p>
                        </div>
                    </div>
                {% endif %}

                {% if post.image %}
                    <div class="row card-body">
                        <div class="col p-0">
                            <img src="{{ post.image.url }}" alt="image" class="single-image" data-toggle="modal"
                                 data-target="#imageOpener{{ forloop.counter }}">
                        </div>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="imageOpener{{ forloop.counter }}" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <img src="{{ post.image.url }}" alt="image" class="single-image">
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}



                <!-- POST FOOTER -->

                <div class="row px-3 pt-3 card-footer">

                    <div class="like-wrapper">
                        <form method="post" action="like" class="like_form" id="{{ post.id }}">
                            {% csrf_token %}
                            <input type="hidden" name="post_id" value="{{ post.id }}">
                            <input type="hidden" name="type" value="like">
                            <button class="btn btn-default" type="submit">

                                {% if post.likes.all.count == 0 or user not in post.likes.all %}
                                    <img id="like-img{{ post.id }}" src="{% static 'src/icon/like.svg' %}" alt="like"
                                         class="like-icon">
                                {% endif %}

                                {% for like in post.likes.all %}
                                    {% if like.id == user.id %}
                                        <img id="like-img{{ post.id }}" src="{% static 'src/icon/filled_like.svg' %}"
                                             alt="like"
                                             class="like-icon">


                                    {% endif %}
                                {% endfor %}

                            </button>


                        </form>
                        <span class="like-counter" id="like-counter{{ post.id }}">{{ post.get_likes }}</span>
                        <form method="post" action="like" class="like_form" id="{{ post.id }}">
                            {% csrf_token %}
                            <input type="hidden" name="post_id" value="{{ post.id }}">
                            <input type="hidden" name="type" value="dislike">
                            <button class="btn btn-default" type="submit">
                                {% if post.dislikes.all.count == 0 or user not in post.dislikes.all %}
                                    <img id="dislike-img{{ post.id }}" src="{% static 'src/icon/like.svg' %}"
                                         alt="dislike"
                                         class="dislike-icon">
                                {% endif %}

                                {% for like in post.dislikes.all %}
                                    {% if like.id == user.id %}
                                        <img id="dislike-img{{ post.id }}" src="{% static 'src/icon/filled_like.svg' %}"
                                             alt="dislike"
                                             class="dislike-icon">


                                    {% endif %}

                                {% endfor %}
                            </button>
                        </form>
                    </div>


                    <div class="comment-wrapper">
                        <button class="btn-comment btn btn-default" type="submit" id="{{ post.id }}">
                            <img src="{% static 'src/icon/comment.svg' %}" alt="comment" class="comment">
                        </button>
                        <span class="comment-counter">{{ post.comments.count }}</span>
                    </div>
                </div>


                <div id="comment-list{{ post.id }}" class="container mt-3 card-body" style="display: none;">

                    {% for comment in post.comments|have_parents %}
                        <div class="col-xs-6" id="comment{{ comment.id }}">


                            <div class="comment-heading">
                                <div class="comment-info">
                                    <a href="#" class="comment-author">{{ comment.user.username }}</a>
                                    <p class="m-0 comment-days-ago">
                                        {{ comment.calculate_days_ago }}
                                    </p>
                                </div>
                            </div>


                            <div class="comment-body mt-2">
                                <p>
                                    {{ comment.body }}
                                </p>
                                <button class="reply-button" type="button" id="comment-reply{{ comment.id }}"
                                        post_id="{{ post.id }}" userName="{{ comment.user.username }}">Reply
                                </button>
                            </div>


                            <div class="replies" id="replies{{ comment.id }}">
                                {% for replay in comment.replies.all %}
                                    <div class="col-xs-6" id="comment{{ replay.id }}">
                                        <div class="comment-heading">
                                            <div class="comment-info">
                                                <a href="#" class="comment-author">{{ replay.user.username }}</a>
                                                <p class="m-0">
                                                    {{ replay.calculate_days_ago }}
                                                </p>
                                            </div>
                                        </div>

                                        <div class="comment-body">
                                            <p>
                                                {{ replay.body }}
                                            </p>
                                            <button class="reply-button" type="button" id="reply_id{{ comment.id }}"
                                                    post_id="{{ post.id }}" userName="{{ comment.user.username }}">Reply
                                            </button>
                                        </div>
                                    </div>


                                {% endfor %}
                            </div>

                        </div>


                    {% endfor %}


                </div>
                <form class="comment_form" method="post" action="post_comment" id="comment-form{{ post.id }}"
                      style="display: none;">
                    {% csrf_token %}
                    {{ c_form|crispy }}
                    <input type="hidden" value="{{ post.id }}" name="id">
                    <div class="d-flex card-body">
                        <button class="btn btn-primary" type="submit">Отправить</button>
                        <button post_id="{{ post.id }}" type="button" class="btn btn-danger ml-3 button-cancel"
                                id="cancel-reply{{ post.id }}" style="display: none;">Отменить ответ
                        </button>
                    </div>
                </form>

            </section>


        {% endfor %}
    {% endif %}

{% endblock %}